/* test */
[class*="container"]{
    border: 1px dashed black;
}

[class*="col"]{
    border: 1px solid red;
}

.image{
    padding: 100px 0;
    background-color: purple;
}

/* fine test */
.copyright{
    background-color: #2C3E50;
}